<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISignInService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/SignInService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISignInService"
                contract="SignInService.ISignInService" name="BasicHttpBinding_ISignInService" />
        </client>
    </system.serviceModel>
</configuration>